/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
*{
    box-sizing: border-box;
}

.page_wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/*Start Header*/

.page_header {
    position: absolute;
    width: 100%;
    padding: 0px 120px;
    margin-top: -2px;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    margin-top: -4px;
}

.logo_pic {
    align-items: center;
    margin-right: 15px;
    padding-top: 19px;
}

.logo_text {
    margin-top: -8px;
    align-items: center;
}

.text_wildlife {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    color: #F7F7F7;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-evenly;
}

.bord {
    border: 2px solid #CD6326;
    border-radius: 5px;
}

.header_item {
    list-style-type: none;
}

.header_link {
    font-family: Open Sans;
    padding: 0px 3px;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;

}

.header_link:hover {
    opacity: .50;
}


/*End Header*/

/*Start Main*/


.main_section {
    padding: 0px 120px ;
}

.main_section_light {
    background-color:  #cccccc;
    color: #333333;
}

.main_section_dark {
    background-color: #02160b;
    color: #F7F7F7;;
}

/*Start Survival*/

.survival_wrapper {
    /*display: flex;*/
    padding-top: 191px;
    min-height: 780px;
}
    
.section_survival {
    font-family: Open Sans;
    width: 199px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-bottom: 51px;
}
    
.section_caption {
    margin-bottom: 49px;
    width: 274px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    
.section_button {
    width: 160px;
    height: 60px;
    background-color: #CD6326;
    border-radius: 5px;
    padding: 16px 42px;
    margin-bottom: 240px;
    cursor: pointer
}
    
.donat_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}

.section_button:hover, .section_button:focus, .section_button:active {
    background: #b64808;
}

    /*End Survival*/

    /*Start Latest articles*/
.section_last {
    padding-top: 105px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 20px;
}

.section_news {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #666666;    
}

.section_animals {
    padding-top: 117px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    cursor: pointer;
}

.animal_item {
 position: relative;
}

.text_pict {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px; 
    position: absolute;
    color: #F7F7F7;
    top: 222px;
    right: 126px;
}

.text_caption-deer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #F7F7F7;
    position: absolute;
    top: 275px;
    right: 70px;
    
}

.text_caption-squirrel {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #F7F7F7;
    position: absolute;
    top: 275px;
    right: 95px;
    
}

.text_caption-bird {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #F7F7F7;
    position: absolute;
    top: 275px;
    right: 90px;
}

/*End Latest articles*/

/*Start Get notifed*/


.get-notifed_wrapper {
    margin-bottom: 10px;
}

.section_get {
    padding-top: 236px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;

}

.section_find {
padding-top: 59px;
padding-bottom: 239px;
display: flex;
justify-content: center;
}

.email {
width: 540px;
height: 60px;
border-color:  #080101e0;
border: 1px;
margin-right: -5px;
font-size: 30px;
outline: none;
}

.text_style {
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    width: 120px;
}

form  {
    display: flex;
}

.submit {
height: 60px;
background: #CD6326;
border: 1px solid #666666;;
border-radius: 0px 5px 5px 0px;
padding-bottom: 5px;
cursor: pointer
}

.submit:hover, .submit:focus, .submit:active {
    background: #b64808;
}

.arrR,
.arrL  {
    cursor: pointer;
}

.arrR:hover,
.arrL:hover  {
    fill: #CD6326;
}

/*End Get notifed*/

/*End Main*/

/*Start Footer*/

.page_footer {
    padding: 120px 120px;
    background-color: #181617;
    margin-top: -10px;
}

.footer_wrapper {
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.logo_footer {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.logo-text_footer {
align-items: center;
padding-left: 10px;
margin-top: -20px;
}

.links_footer {
    display: flex;
    margin-top: -20px;

}

.links-list_footer {
    display: flex;
    flex-wrap: wrap;
}

.footer_link-item {
    margin-right: 86px;
    list-style-type: none;
}

.footer_link-item:last-child {
    margin-right: 0px;
}

.footer_link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    list-style-type: none;
    text-decoration: none;
}

.social_footer {
    display: flex;
    margin-top: -20px;
    
}

.social-list_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer_social-item {
    margin-right: 27px;
    list-style-type: none;
}

.footer_link-item:last-child {
    margin-right: 0px;
}

.footer_link:hover,
.footer_link:focus,
.footer_link:active {
    opacity: .50;
}

.footer_link-s:hover,
.footer_link-s:focus,
.footer_link-s:active {
    opacity: .50;
}

/*End Footer*/

/*Links*/
.bd_survival {
    background-image: url(./assets/Fox.jpg);
}
 
.bd_footer {
     background-image: url(./assets/Footer_image.jpg);
}
 .bd_icon-F {
     background: url(./assets/Facebook.svg);
}

 